
.pulser{
    width: 30px;
    height: 30px;
    background: pink;
    border-radius: 100%;
    position: relative;
    /*para agregar una transicion: */
    transition-duration: 2s;
    /*para controlar unicamente los elementos que quieres transicionar*/
    transition-property: scale, background;
    /*para controlar la velocidad de la transicion, ease, steps(50), cubic-bezier(usar desde las herramientas de desarrollo)*/
    transition-timing-function: ease;
    /*para controlar cuando iniciar la transicion*/
    transition-delay: 200ms;
    /*se puede abreviar y escribir en una sola propiedad: https://developer.mozilla.org/en-US/docs/Web/CSS/transition*/
    transition: all 300ms ease-in-out; /*estado final*/
        /* transform background 300ms linear,
        scale 600ms ease-in-out,
        box-shadow 900ms ease; */
}

/*estado nuevo*/
.pulser:hover{
    scale: 7;
    background: palevioletred;
    box-shadow: 0 0 10px palevioletred;
    transition-duration: 1s; /*la segunda animacion*/
}

/*accesibilidad web: media query para eliminar las transiciones a los usuarios que tengan activada esa preferencia*/
@media (prefers-reduced-motion: reduce){
    .pulser{
        transition: none;
    }
}

/* body{
    display: grid;
    place-content: center;
    min-height: 50vh;
} */

/*animaciones*/
.pulsador{
    width: 50px;
    height: 50px;
    background: darkred;
    border-radius: 100%;
    position: relative;

    /*nombre de la animacion que vamos a usar*/
    animation: move;
    /*duracion de la animacion que vamos a utilizar*/
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    /*se queda en el ultimo punto de la animacion*/
    animation-fill-mode: both;

    /*abreviatura de todos estos elementos*/
    animation: 
        move 2s steps(10) infinite both,
        /*se pueden concatenar mas animaciones*/
        ;
}

.pulsador::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: gray;
    border-radius: 50%;
    z-index: -1;

    animation-name: pulse;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    /*sentido o direccion en el que se realiza la animacion*/
    animation-direction: alternate;
    /* animation-play-state: normal; */
}

.pulsador:hover{
    animation-play-state: paused;
    opacity: .5;
    filter: contrast(150%);
    cursor: pointer;
}

@keyframes pulse{

    0%{
        opacity: 0;
    }

    50%{
        scale: 2;
        opacity: .4;
    }

    100%{
        opacity: .1;
    }

}

@keyframes move {
    from{
        transform: translateY(0px);
    }

    to{
        transform: translateY(300px);
    }
}

/* animaciones con scroll */
/* body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
} */

main{
    padding: 32px;
}

#progress{
    position: fixed;
    top: 0;
    width: 0%;
    background-color: red;
    height: 1em;

    animation: progress-grow auto linear;
    animation-timeline: scroll(root block);
}

@keyframes progress-grow {
    from{ 
        width: 0%;
    }

    to{
        width: 100%;
    }
}

/*animacion de scroll en galeria de imagenes*/
body{
    background-color: black;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 100px;
}

section{
    columns: 2;
    padding: 16px 32px;
    column-gap: 32px;
}

.foto{
    border-radius: 4px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;

    animation: reveal linear both; /*nombre de la animacion, tipo lineal, aparece en ambas direcciones(guarda su estado final)*/
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
}

h1{
    color: white;
    text-align: center;
    padding: 16px;
    margin: 0;
    width: 100%;

    position: sticky;
    top: 0;

    animation: enhance-header linear both;
    animation-timeline: scroll(root);
    animation-range: 0 100px;

    z-index: 1;
}

@keyframes enhance-header{
    to{
        background: rgba(255, 255, 255, 0.15);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8px);
        
                
        font-size: 18px;
        color: black;
    }
}

@keyframes reveal{
    from{
        opacity: 0;
        translate: 0 40px;
        scale: .8;
    }

    to{
        opacity: 1;
        translate: 0 0;
        scale: 1;
    }
}