/* especificidad: https://specificity.keegan.st/ 
    se sobre escribe segun su nivel de specificity
*/

body{
    background-color: aliceblue;
}

/* (0, 1, 0) */
.text {
    font-size: 20px;
    color: #09f;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

/* (1, 0, 0) */
#text{
    color: orange;
}

/* (0, 0, 1) */
p {
    color: blueviolet;
    outline: 10px solid #09f;
}

/* saltarse la especificidad con !important */
p {
    color: blueviolet !important;
}


/* UNIDADES RELATIVAS Y ABSOLUTAS */
/* PX --> UNIDAD RELATIVA */
/* % --> UNIDAD RELATIVA DEL CONTENEDOR PADRE */
/* vh y vw --> UNIDAD RELATIVA AL VIEWPORT W Y H */

body{
    margin: 0;
}

.container {
    width: 50vw;
    height: 100vh;
    background: green;
}

