/* especificidad: https://specificity.keegan.st/ 
    se sobre escribe segun su nivel de specificity
*/

body{
    background-color: #c4e4ff;
}

/* (0, 1, 0) */
.text {
    font-size: 20px;
    color: #09f;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

/* (1, 0, 0) */
#text{
    color: orange;
}

/* (0, 0, 1) */
p {
    color: blueviolet;
    outline: 10px solid #09f;
}

/* saltarse la especificidad con !important */
p {
    color: blueviolet !important;
}


/* UNIDADES RELATIVAS Y ABSOLUTAS */
/* PX --> UNIDAD RELATIVA */
/* % --> UNIDAD RELATIVA DEL CONTENEDOR PADRE */
/* vh y vw --> UNIDAD RELATIVA AL VIEWPORT W Y H */

body{
    margin: 0;
}

.container {
    /* contenido: el contenido real del elemento */
    width: 150px;
    height: 150px;
    background: blanchedalmond;
    /* padding es el contorno del contenido: cambia el tamaño del contenido */
    padding: 10px;
    /* border es el borde visible que rodea al padding y al contenido: cambia el tamaño del contenido */
    border: 10px solid; 
    /* margin es el espacio externo que separa el elemento de otros elementos, NO AFECTA EL TAMAÑO DEL BLOQUE */
    margin: 20px;
    
    /* aqui el tamaño final del contenido no es l mismo que el del inicio, 
    porque hemos sumado los px del padding y los px del border.
    si necesitamos un tamaño especifico del contenido podemos usar border-box:
    hace que se el contenido total considere desde el border hacia dentro*/
    box-sizing: border-box;

    font-size: 40px;
    /*el desbordamiento se puede solucionar con overflow
    auto detecta si necesita el scroll o no y lo esconde, scroll muestra el scroll siempre,
     hidden no muestra el desbordamiento
    */
    overflow: auto; 
    text-overflow: ellipsis;
    
}

/* MODELO DE LA CAJA
+-----------------------------+
|        margin              |
|  +---------------------+   |
|  |      border         |   |
|  |  +-------------+    |   |
|  |  |  padding    |    |   |
|  |  | +--------+  |    |   |
|  |  | | content | |    |   |
|  |  | +--------+  |    |   |
|  |  +-------------+    |   |
|  +---------------------+   |
+-----------------------------+ */


/* ETIQUETAS BLOQUE Y ETIQUETAS EN LINEA */
/* span, p, a, strong, em --> display en linea: por lo tanto no es posible modificar por defecto su height ni width, se apilan en la misma linea */
/* div, section, h1 --> display en bloque: por lo tanto si puedes modificar su w y h, no se apilan hay salto de linea entre ellos*/


/* POSICIONES:
position absolute: de manera absoluta en todo el documento mueve por coordenadas el elemento
position relative: el elemento padre es la referencia absoluta del elemento que queremos mover por coordenadas
  */
section{
    border: 5px solid;
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    position: relative;
}

.contenedor{
    background: #09f;
    width: 200px;
    height: 200px;
    position: absolute;
    /* right: 0px;
    top: 0px;
    bottom: 0px;
    left: 0px; todo esto es equivalente al inset: 0*/
    inset: 0;
    margin: auto;
}